@model X.PagedList.IPagedList<Cliente>
@using X.Web.PagedList

@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Lista de Clientes</h1>
    <a class="btn btn-success" asp-action="Create">Cadastrar novo Cliente</a>
</div>

<!-- Campo de Busca -->
<form asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="searchString" class="form-control" placeholder="Buscar por nome ou e-mail" value="@ViewData["CurrentFilter"]">
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </div>
</form>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.Nome</th>
                        <td>@cliente.Email</td>
                        <td>
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                    data-bs-target="#detalhesModal"
                                    data-nome="@cliente.Nome"
                                    data-email="@cliente.Email">
                                <span class="fa fa-search"></span>
                            </button>
                            <a asp-controller="Cliente" asp-action="Edit" asp-route-id="@cliente.Id" class="btn btn-warning">Editar</a>
                            <a asp-controller="Cliente" asp-action="Delete" asp-route-id="@cliente.Id" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">Nenhum cliente encontrado</td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Exibe a paginação -->
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewData["CurrentFilter"] }), new PagedListRenderOptions
   {
       DisplayLinkToFirstPage = PagedListDisplayMode.Always,
       DisplayLinkToLastPage = PagedListDisplayMode.Always,
       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
       DisplayLinkToNextPage = PagedListDisplayMode.Always
   })
    </div>

    @if (!string.IsNullOrEmpty(ViewData["CurrentFilter"] as string))
    {
        <footer>
            <a class="btn btn-info" asp-controller="Cliente" asp-action="Index">Voltar</a>
        </footer>
    }

    <footer>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Página inicial</a>
    </footer>
</div>

<!-- Modal -->
<div class="modal fade" id="detalhesModal" tabindex="-1" aria-labelledby="detalhesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detalhesModalLabel">Detalhes do Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <p><strong>Nome:</strong> <span id="clienteNome"></span></p>
                        <p><strong>E-mail:</strong> <span id="clienteEmail"></span></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#detalhesModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Botão que acionou o modal
                var nome = button.data('nome');
                var email = button.data('email');

                // Atualize o conteúdo do modal
                $('#clienteNome').text(nome);
                $('#clienteEmail').text(email);
            });
        });
    </script>
}
